html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 58px;
  line-height: 120%;
}

h2 {
  font-style: normal;
  font-size: 43px;
  line-height: 130%;
}

h3 {
  font-size: 32px;
  line-height: 130%;
}

h2,
h3,
h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.container {
  position: relative;
  max-width: 1146px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  margin-left: auto;
  margin-right: 0;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin-left: 55px;
}

.menu a {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu a:hover {
  color: #ff4b32;
}

.red-btn {
  padding: 16px 35px;
  background-color: #ff4b32;
  border-radius: 5px;
}

.header {
  background-color: #000;
  padding: 50px 0;
}

.header__logo {
  z-index: 2;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header__user-search {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 38px;
}

.header__user-cart {
  position: relative;
}

.header__user-cart span {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff4b32;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
}

.header__top {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 110px 0;
}

.header__top-img {
  position: absolute;
  right: 0;
  width: 870px;
  height: 711px;
  bottom: 0;
}

.header__info {
  max-width: 524px;
}

.header__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  margin: 26px 0 48px;
  opacity: 0.8;
}

.best {
  margin: 140px 0;
}

.best__text {
  width: 506px;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
  margin: 20px 0 60px;
}

.best__slider {
  width: 100%;
}

.best__slider button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: -170px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.best__slider button:hover {
  opacity: 0.6;
}

.best__slider .slick-prev {
  right: 66px;
}

.best__slider-item span {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-right: 5px;
}

.best__slider-item p {
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  opacity: 0.6;
  width: 257px;
  margin: 15px 0 34px;
}

.best__slider-item a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.best__slider-price {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-top: 35px;
}

.best__slider-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

.galery {
  text-align: center;
}

.galery p {
  max-width: 609px;
  margin: 20px auto 60px;
}

.galery__box {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: ([row] 35px)[5];
      grid-template-rows: repeat(5, [row] 35px);
}

.galery__box-item {
  padding: 0;
  margin: 0;
}

.galery__box-item:nth-child(4) {
  grid-row: row 6 / row 8;
}

.galery__box-item:nth-child(5) {
  grid-row: row 5 / row 8;
}

.galery__box-item:nth-child(6) {
  grid-row: row 6 / row 8;
}

.galery a {
  display: block;
  max-width: 460px;
  padding: 15px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ff4b32;
  margin: 60px auto 140px;
}

.contacts {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts span {
  color: #ff4b32;
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  display: inline-block;
  position: relative;
}

.contacts span::after {
  content: "";
  width: 95px;
  height: 2px;
  background-color: #ff4b32;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.contacts h2 {
  width: 620px;
  margin: 40px auto 60px;
}

.contacts a {
  display: inline-block;
  font-size: 24px;
  line-height: 150%;
}

.contacts__phone {
  position: relative;
  padding-left: 39px;
}

.contacts__phone::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 5px;
  background-image: url(../images/telephone.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__email {
  position: relative;
  padding-left: 33px;
  margin-top: 25px;
}

.contacts__email::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 14px;
  left: 0;
  top: 13px;
  background-image: url(../images/gmail.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__social li {
  margin: 30px 20px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contacts__social li:hover {
  opacity: 0.5;
}

.new {
  text-align: center;
  margin: 140px 0;
}

.new p {
  display: block;
  margin: 20px auto 60px;
  font-size: 18px;
  line-height: 160%;
  max-width: 609px;
}

.new__inner {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.new__item {
  max-width: 362px;
  text-align: left;
  border-radius: 20px;
  background: #ffffff;
  -webkit-box-shadow: 40px 15px 136px rgba(0, 0, 0, 0.2);
          box-shadow: 40px 15px 136px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.new__info {
  padding: 30px;
}

.new__info p {
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
  margin: 10px 0 20px;
}

.new__info a {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ff4b32;
  padding-right: 22px;
  position: relative;
}

.new__info a::after {
  content: '';
  background-image: url(../images/learn.svg);
  position: absolute;
  right: 0;
  top: 6px;
  width: 12px;
  height: 10px;
}

.footer {
  background-color: #000;
}
/*# sourceMappingURL=style.css.map */