html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 58px;
  line-height: 120%;
}

h2,
h3,
h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.container {
  position: relative;
  max-width: 1146px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  margin-left: auto;
  margin-right: 0;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin-left: 55px;
}

.menu a {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu a:hover {
  color: #ff4b32;
}

.red-btn {
  padding: 16px 35px;
  background-color: #ff4b32;
  border-radius: 5px;
}

.header {
  background-color: #000;
  padding: 50px 0;
}

.header__logo {
  z-index: 2;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header__user-search {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 38px;
}

.header__user-cart {
  position: relative;
}

.header__user-cart span {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff4b32;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
}

.header__top {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 110px 0;
}

.header__top-img {
  position: absolute;
  right: 0;
  width: 870px;
  height: 711px;
  bottom: 0;
}

.header__info {
  max-width: 524px;
}

.header__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  margin: 26px 0 48px;
}
/*# sourceMappingURL=style.css.map */