body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 58px;
  line-height: 120%;
}
h2,
h3,
h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.container {
  position: relative;
  max-width: 1146px;
  padding: 0 15px;
  margin: 0 auto;
}
.menu {
  margin-left: auto;
  margin-right: 0;
  z-index: 2;
}
.menu__list {
  display: flex;
  li {
    margin-left: 55px;
  }
}
.menu a {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}
.menu a:hover {
  color: rgba(255, 75, 50, 1);
}
.red-btn{
  padding: 16px 35px;
  background-color: #ff4b32;
  border-radius: 5px;
}