@import "reset";
@import "global";
.header {
  background-color: #000;
  // color: rgba(255, 255, 255, .6);
  padding: 50px 0;
  &__logo{
    z-index: 2;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    &-search {
      width: 50px;
      height: 50px;
      border: 1px solid rgba($color: #fff, $alpha: 0.6);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 38px;
    }
    &-cart {
      position: relative;
      span {
        position: absolute;
        top: -5px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff4b32;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  &__top{
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 110px 0;
    &-img{
      position: absolute;
      right: 0;
      width: 870px;
      height: 711px;
      bottom: 0;
    }
  }
  &__info{
    max-width: 524px;
  }
  &__text{
    font-weight: 600;
font-size: 20px;
line-height: 160%;
margin: 26px 0 48px;
  }

}
