@import "reset";
@import "global";
.header {
  background-color: #000;
  // color: rgba(255, 255, 255, .6);
  padding: 50px 0;
  &__logo {
    z-index: 2;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    &-search {
      width: 50px;
      height: 50px;
      border: 1px solid rgba($color: #fff, $alpha: 0.6);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 38px;
    }
    &-cart {
      position: relative;
      span {
        position: absolute;
        top: -5px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff4b32;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  &__top {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 110px 0;
    &-img {
      position: absolute;
      right: 0;
      width: 870px;
      height: 711px;
      bottom: 0;
    }
  }
  &__info {
    max-width: 524px;
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    margin: 26px 0 48px;
    opacity: 0.8;
  }
}
.best {
  margin: 140px 0;
  &__text {
    width: 506px;
    font-size: 18px;
    line-height: 160%;
    opacity: 0.7;
    margin: 20px 0 60px;
  }
  &__slider {
    width: 100%;
    button {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      top: -170px;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .slick-prev {
      right: 66px;
    }
    &-item {
      // max-width: 310px;
      span {
        display: inline-block;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        margin-right: 5px;
      }
      p {
        font-size: 16px;
        line-height: 160%;
        color: #000000;
        opacity: 0.6;
        width: 257px;
        margin: 15px 0 34px;
      }
      a {
        display: inline-block;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
      }
    }
    &-price {
      display: inline-block;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      margin-top: 35px;
    }
    &-title {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
    }
  }
}
.galery {
  text-align: center;
  p {
    max-width: 609px;
    margin: 20px auto 60px;
  }
  &__box {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, [row] 35px);
    &-item {
      padding: 0;
      margin: 0;
    }
    &-item:nth-child(4) {
      grid-row: row 6 / row 8;
    }
    &-item:nth-child(5) {
      grid-row: row 5 / row 8;
    }
    &-item:nth-child(6) {
      grid-row: row 6 / row 8;
    }
  }
  a {
    display: block;
    max-width: 460px;
    padding: 15px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #ff4b32;
    margin: 60px auto 140px;
  }
}
.contacts {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  span {
    color: #ff4b32;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      width: 95px;
      height: 2px;
      background-color: #ff4b32;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  h2 {
    width: 620px;
    margin: 40px auto 60px;
  }
  a {
    display: inline-block;
    font-size: 24px;
    line-height: 150%;
  }
  &__phone {
    position: relative;
    padding-left: 39px;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 5px;
      background-image: url(../images/telephone.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__email {
    position: relative;
    padding-left: 33px;
    margin-top: 25px;
    &::before{
      content: '';
      position: absolute;
      width: 17px;
      height: 14px;
      left: 0;
      top: 13px;
      background-image: url(../images/gmail.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__social{
    display: flex;
    justify-content: center;
    li{
      margin: 30px 20px 0;
      transition: all .3s;
      &:hover{
        opacity: .5;
      }
    }
  }
}
